
@{
    ViewData["Title"] = "Draw_a_Number";
}

<h1>Draw_a_Number</h1>

<!--Spot to enter name-->

<!--Random Number Gen-->

<!--Christmas Tree with "Ornambent" buttons that select Number & assign to name entered and Dissapear-->

<!--Only allow button clicks if Name has been entered -->



