@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Safety White Elephant Exchange!</h1>
    <hr />
    <br />
    <h2> Enter Zoom Call Info Here</h2>

</div>
