@{
    ViewData["Title"] = "Upload My Gift";
}
<h1>@ViewData["Title"]</h1>

<h2>Add details and photos of your gift here!.</h2>

<!--Make this a text field-->
<input />

<input type="submit" name="submit_gift_info" />

<!--Gift Wrap Selector-->

